.bg {
  background-color: $bg;
  border-radius: 8px;
}

.win {
  background-color: $bg;
  padding: 12px;
}

.sidebar-item {
  background-color: $bgDD;
  border-radius: 8px;
}

.magenta_border {
  border: solid 4px $magenta;
}

//
// Time
//

.sidebar-header {
  border-radius: 8px 8px 0px 0px;
}

.sidebar-time {
  @extend .sidebar-item;
  font-size: 24px;
  padding: 8px 16px;
  margin-right: 16px;
  margin-top: 12px;
}

//
// Network
//

.sidebar-network {
  @extend .sidebar-item;
  // compensate for the added border when toggled
  border: 4px solid $bg;
  padding: 12px;
  padding-left: 20px;
}

.sidebar-network-on {
  border: 4px solid $bgL;
  background: repeating-linear-gradient(
    45deg,
    $bgDD,
    $bgDD 20px,
    $magenta 20px,
    $magenta 40px
  );
}

.toggle_button {
  margin-left: 20px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: $bgD;
  font-size: 20px;
  font-weight: 700;
}

.toggle_button:hover {
  color: $bg;
  background-color: $magenta;
}

//
// MPD
//

.sidebar-album {
  @extend .sidebar-item;
  font-size: 20px;
  padding: 12px;
  padding-left: 20px;
}

.sidebar-mpdcontrols {
  @extend .sidebar-item;
  padding: 8px;
}

.mpd_button {
  background-color: $bgD;
  border-radius: 8px;
  font-size: 36px;
  color: $fg;
}

.mpd_button:hover {
  color: $bg;
  background-color: $magenta;
}

//
// Volume and Brightness
//

.sidebar-controls {
  @extend .sidebar-item;
  padding: 12px;
  padding-left: 20px;

  color: $fg;
  font-size: 24px;
}

.sidebar-slider {
  trough {
    background-color: $bgD;
    margin-left: 8px;
    border-radius: 8px;
  }

  highlight {
    background-color: $magenta;
    padding-top: 15px;
    border-radius: 8px;
  }
}

//
// Stats
//

.sidebar-stats {
  @extend .sidebar-item;
  padding: 24px;

  color: $fg;
  font-size: 24px;
}

.sidebar-cprogress {
  background-color: $bgD;
  color: $magenta;
}

//
// Calendar
//

.sidebar-calendar {
  @extend .sidebar-item;
  padding: 28px 20px;
}

.sidebar-cal-text {
  color: $yellow;
  margin-left: 28px;
  font-size: 24px;
}

.sidebar-cal {
  color: $fg;
  background-color: $bgDD;
  border: none;
  padding: 6px;
  font-size: 20px;
}

.sidebar-cal:selected {
  color: $yellow;
  background-color: transparent;
  font-weight: 800;
}

.sidebar-cal.highlight {
  color: $magenta;
}

.sidebar-cal:indeterminate {
  color: $bgLLL;
}
