/* Firefox CSS
 * Minimal firefox css tweaks
 * Assorted hacks from https://github.com/MrOtherGuy/firefox-csshacks/
 */

/* Use same color for nav and tab bar */
#navigator-toolbox:not(:-moz-lwtheme) {
	background: var(--toolbar-field-background-color) !important;
}

/* Makes the urlbar a little brighter */
#urlbar-background {
	background: var(--tab-selected-bgcolor) !important;
	filter: brightness(85%);
}

/* Remove border around urlbar */
#urlbar:not([open]):not([breakout-extend]) > #urlbar-background  {
    border: none !important;
    box-shadow: none !important;
}

/* Swap tab background colors to be same as toolbar */
#tabbrowser-tabs {
	background: var(--toolbar-field-background-color) !important;
}

/* Remove active tab border */
.tab-background{
	outline: none !important;
	box-shadow: none !important;
}
.tab-background[selected] {
	outline: none !important;
	box-shadow: none !important;
}

/* Remove window control buttons */
.titlebar-buttonbox-container {
	display: none !important;
}
.titlebar-close {
	display: none !important;
}

/* Hide line between vertical tab and content */
#tabbrowser-tabbox {
	outline: none !important;
	box-shadow: none !important;
}

/* Hide line under the toolbox */
#navigator-toolbox {
	border-bottom: 0.01px solid transparent !important;
}

/* Make the tool and extensions backgorund the same as the rest of the sidebar. */
.tools-and-extensions {
	background: var(--toolbar-field-background-color) !important;
}
