* {
    color: @fg;
    border: none;
    border-radius: 0px;
    margin: 0px;
    min-height: 0px;

    /* HACK: set a small font-size globally since tag workspaces are not
     * affected by a locally defined font-size for some reason. */
    font-family: "FantasqueSansM Nerd Font Propo";
    font-size: 4px;
}

window#waybar {
    background-color: @bg;
}

/* Set all other module to desired font size. */
#battery,
#network,
#memory,
#power-profiles-daemon,
#layout,
#window,
#clock,
#pulseaudio,
#backlight,
#pulseaudio-slider,
#backlight-slider,
tooltip label {
    font-size: 22px;
}

tooltip {
    font-size: 22px;
    background: @bg4;
    border-radius: 8px;
}

#custom-dashboard {
    background-color: @bg0;

    font-size: 18px;

    margin: 6px;
    margin-right: 2px;
    margin-left: 8px;
    padding: 4px 16px;

    border-radius: 6px;
}

#custom-notifications {
    color: @yellow;
    background-color: @bg0;

    font-size: 22px;

    margin: 6px;
    margin-right: 8px;
    margin-left: 2px;
    padding: 4px 8px;

    border-radius: 100%;
}

#layout {
    background-color: @bg0;

    font-size: 18px;

    margin: 6px 3px;
    padding: 4px 16px;

    border-radius: 6px;
}

#network {
    background-color: @bg0;

    margin: 6px 0px;
    margin-left: 8px;
    padding-right: 12px;
    padding-left: 12px;

    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

#network.disconnected {
    color: @red;
}

#battery {
    color: @fg;
    background-color: @bg0;
    margin: 6px 0px;
    padding-right: 8px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

#memory {
    color: @red;
    margin-left: 20px;
}

#battery.warning:not(.charging) {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#clock {
    background-color: @bg0;

    margin: 6px;
    padding: 4px 16px;
    border-radius: 6px;
}

/* The pulseaudio and backlight modules are merged together into one pill, so
 * border-radius is set on a single side. */
#pulseaudio {
    color: @magenta;
    background-color: @bg0;

    margin: 6px 0px;
    padding: 4px;
    padding-left: 12px;

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#pulseaudio-slider {
    background-color: @bg0;

    margin: 6px 0px;
    padding: 4px;
    padding-right: 12px;
}

#pulseaudio-slider slider {
    min-width: 0px;
    min-height: 0px;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    background-color: @bg5;

    min-height: 5px;
    min-width: 60px;
    border-radius: 5px;
}

#pulseaudio-slider highlight {
    background-color: @magenta;

    min-height: 5px;
    border-radius: 5px;
}

#backlight {
    color: @yellow;
    background-color: @bg0;

    margin: 6px 0px;
    padding: 4px;
    padding-left: 12px;
}

#backlight-slider {
    background-color: @bg0;

    margin: 6px 0px;
    padding: 4px;
    padding-right: 12px;

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

#backlight-slider slider {
    min-width: 0px;
    min-height: 0px;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    background-color: @bg5;

    min-height: 5px;
    min-width: 60px;
    border-radius: 5px;
}

#backlight-slider highlight {
    background-color: @yellow;

    min-height: 5px;
    border-radius: 5px;
}

/* For tags, we draw pills ourselves instead of using a text or icon */
#tags {
    background-color: @bg0;

    margin: 6px 2px;
    padding: 10px;
    border-radius: 6px;
}

#tags button {
    background-color: @bg5;

    /* Set these to zero to get rid of any additional space, the size of the
     * pill is managed using padding. */
    min-height: 0px;
    min-width: 0px;

    margin: 2px 4px;
    padding: 0px 10px;
    border-radius: 16px;
}

#tags button.occupied {
    background-color: @bg6;
}

#tags button.urgent {
    background-color: @red;
}

#tags button.focused {
    background-color: @yellow;

    padding: 0px 14px;
}
